<ul class="w-full grid grid-cols-12 gap-5" data-ajax="results">
    {% for post in posts %}
        <li class="relative col-span-6 aspect-square z-0">
            <img class="object-cover w-full h-full" src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}">
            <div class="absolute top-0 left-0 w-full h-full flex opacity-0 hover:opacity-100">
                <div class="absolute top-0 left-0 w-full h-full bg-black opacity-60"></div>
                <div class="relative w-full h-full p-3 px-4 flex items-end justify-between">
                    <p class="font-sans font-medium text-white uppercase">{{ post.title }}, {{ post.terms({taxonomy:'format'})|join(', ') }}</p>
                    <p class="font-mono font-normal leading-[1.45em] text-white uppercase text-right">{{ post.terms({taxonomy:'categorie'})|join(', ') }}</p>
                    <a class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex items-center justify-center text-white text-center" href="{{ post.link }}" target="_self">OEIL</a>
                    <button class="absolute top-3 right-4 flex items-center justify-center text-white text-center">FULL</button>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>